.header-bar {
  background: #0095a0;
  padding: 20px 15px;
  margin-bottom: 65px;
}

.logo h2 {
  color: #fff;
  text-transform: uppercase;
}

.right-bar {
  display: flex;
}

.search-bar {
  width: 400px;
  position: relative;
  margin-right: 12px;
}

.search-bar input {
  width: 100%;
  padding: 12px 18px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.search-bar input:focus-visible {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

span.search-icon {
  font-size: 25px;
  color: #fff;
  position: absolute;
  right: 12px;
}

button.addbtn {
  border: navajowhite;
  padding: 0 25px;
  color: #0095a0;
  font-weight: 500;
}

.chart-area h3 {
  color: #575757;
  font-weight: bold;
}

.sources-data {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.list-data {
  width: 250px;
  margin-left: 30px;
  font-size: 19px;
  color: #74777b;
  font-weight: 500;
}

.list-data span {
  margin-right: 6px;
  font-size: 24px;
}

.VictoryContainer text tspan {
  fill: #747474 !important;
}

.conditions-data {
  padding-left: 20px;
}

.conditions-data text tspan {
  font-size: 12px !important;
}

.modal-header {
  background: #0095a0;
  color: #fff;
}
